/* Import Bootstrap first */
@use 'bootstrap/scss/bootstrap';

/* Import ngx-bootstrap Datepicker */
@use 'ngx-bootstrap/datepicker/bs-datepicker';

/* Custom styles */

.even {
  background-color: steelblue;
  color: white;
}

.odd {
  background-color: tomato;
  color: black;
}