<h1>{{ hotelName }}</h1>

<p>{{ msg }}</p>

<!-- <span [hidden]="hideRooms" [innerText]="noOfRooms"></span> -->
<span>Total Rooms: {{ rooms.totalRooms }}</span>

@if (rooms.availableRooms > 0) {
  <div>No Rooms Available, Sorry!</div>
}

<table border="1">
  <tr>
    <th>Odd / Even</th>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Price</th>
    <th>Room Amenities</th>
    <th>checkInTime</th>
  </tr>

  <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomsDetails; let e = even">
    <td>{{ e ? '2' : '1' }}</td>
    <td>{{ room.roomNumber | uppercase }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price | currency: 'INR' }}</td>
    <td>{{ room.amenities }}</td>
    <td>{{ room.checkInTime | date }}</td>
  </tr>
</table>

<!-- <button (click)="toggleRooms()">Toggle Rooms</button> -->
