<h1>{{ hotelName }}</h1>

<p>{{ msg }}</p>

<!-- <span [hidden]="hideRooms" [innerText]="noOfRooms"></span> -->
<span>Total Rooms: {{ rooms.totalRooms }}</span>

@if (rooms.availableRooms > 0) {
  <div>No Rooms Available, Sorry!</div>
}

<table border="1">
  <tr>
    <th>Room Number</th>
    <th>Room Type</th>
    <th>Price</th>
    <th>Room Amenities</th>
  </tr>
  <tr *ngFor="let room of roomsDetails">
    <td>{{ room.roomNumber }}</td>
    <td>{{ room.roomType }}</td>
    <td>{{ room.price }}</td>
    <td>{{ room.amenities }}</td>
  </tr>
</table>

<!-- <button (click)="toggleRooms()">Toggle Rooms</button> -->
